<div *ngIf="!allService.isLoggedIn()" class="parent">
  <!-- 
  <div class="one">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" placeholder="......@......" />
      <mat-hint *ngIf="!email && submit">Email is required</mat-hint>
    </mat-form-field>
  </div>

  <div class="one">
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input
        type="password"
        [(ngModel)]="password"
        matInput
        placeholder="password"
      />
      <mat-hint *ngIf="!password && submit">Password is required</mat-hint>
    </mat-form-field>
  </div> -->

  <div class="one">
    <button (click)="login()" color="primary" mat-raised-button>
      {{ userLang == "tr" || userLang == "tr-TR"  ? "Google ile giriş yap" : "Login with Google" }}
    </button>
  </div>
  <div class="one">
    <mat-chip-list>
      <mat-chip color="warn">
        {{
          userLang == "tr" ||   this.userLang == "tr-TR"
            ? "Giriş yaptıktan sonra kazanmaya başlayabilirsiniz."
            : "You can start mining after logging in."
        }}</mat-chip
      >
    </mat-chip-list>
  </div>
  <div class="one">
    <mat-hint>
      {{
        userLang == "tr" ||   this.userLang == "tr-TR"
          ? "Eğer bir hesabınız yoksa giriş yapmanız durumunda sizin için bir hesap oluşturulacaktır."
          : " If you do not have an account, an account will be created for you if you
    log in."
      }}
    </mat-hint>
  </div>
</div>

<div *ngIf="allService.isLoggedIn()" class="parent">
  <div class="one">
    <div><img style="border-radius: 50%;" src="{{ user.imageUrl }}" /></div>
  </div>
  <div class="two">
    <div>Email :</div>
    <div>{{ user.email }}</div>
  </div>
</div>
