div.parent {
  height: 100%;
  padding: 50% 10px;

  div.two {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 15px 0;
  }

  div.one {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    place-items: center;
    margin: 15px 0;
    mat-hint {
      text-align: center;
    }
  }

  mat-form-field {
    width: 70%;
  }

  mat-hint {
    color: #c2185b !important;
  }
}
