<router-outlet></router-outlet>
<div class="tabs" [class.tabs3]="allService.isLoggedIn()">
  <button
    [routerLink]="['/earn']"
    routerLinkActive="router-link-active"
    color="accent"
    mat-raised-button
  >
    {{ userLang == "tr" ? "Kazan" : "Earn" }}
  </button>
  <button
    [routerLink]="['/profile']"
    routerLinkActive="router-link-active"
    color="accent"
    mat-raised-button
  >
    {{ userLang == "tr" ? "Profil" : "Profile" }}
  </button>

  <button
    (click)="allService.logout()"
    *ngIf="allService.isLoggedIn()"
    color="accent"
    mat-raised-button
  >
    {{ userLang == "tr" ? "Çıkış Yap" : "Logout" }}
  </button>
</div>
