div.tabs {
  width: 100%;
  align-items: center;
  display: grid;
  gap: 1px;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  bottom: 0;
}

div.tabs3 {
  grid-template-columns: 1fr 1fr 1fr !important;
}
button.router-link-active {
  background-color: #c2185b !important;
  color: #fff;
}

.desktop {
  padding-right: 25%;
  padding-left: 25%;
}

.desktop-tabs {
  left: 25%;
  right: 25%;
  width: unset !important;
}
