div.parent {
  height: 100%;
  padding: 5% 10px;

  p.custom {
    color: #c2185b;
    text-align: center;
  }
  div.two {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 15px 0;
  }

  div.one {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    place-items: center;
    margin: 15px 0;
  }

  .mt-50 {
    margin-top: 50px !important;
  }
}

.mat-spinner {
  position: relative;
  margin-left: calc(50% - 50px);
}
