<p>
  <strong>Opening</strong>
  First of all, this application does not perform any operations without your
  permission.
</p>
<p>
  <strong>How do I earn ?</strong>
  The app saves you money by using the processor power of your phone to the
  extent you set.
</p>

<p>
  <strong>Why did we code this application ?</strong>
  So people can use their phones for more meaningful things instead of wasting
  time.
</p>

<p>
  <strong>How do I get paid ?</strong>
  The application generates WebCoin for you. The minimum withdrawal amount is 20
  WebCoins. When you want to shoot, you will be asked for a wallet code and your
  coins will be transferred there.
</p>

<button (click)="close()" color="primary" mat-raised-button>
  Let's earn !
</button>


